<% if @data %>
<div class="row">
	<div class="col-md-2 col-xs-4">
		<div class="thumbnail" style="background-color: #a8dcff">
			<h2 style="text-align: center;">//</h2>
			<h5>Average Sleep</h5>
		</div>
	</div>
	<div class="col-md-2 col-xs-4">
		<div class="thumbnail" style="background-color: #a8dcff">
			<h2 style="text-align: center;"><%= @data.start_time.strftime('%I:%M') %></h2>
			<h5>Start Time</h5>
		</div>
	</div>
	<div class="col-md-2 col-xs-4">
		<div class="thumbnail" style="background-color: #a8dcff">
			<h2 style="text-align: center;"><%= (@data.min_in_bed.to_f / 60).round(2) %>h</h2>
			<h5>Time in Bed</h5>
		</div>
	</div>
	<div class="col-md-2 col-xs-4">
		<div class="thumbnail" style="background-color: #a8dcff">
			<h2 style="text-align: center;"><%= (@data.min_asleep.to_f / 60).round(2)  %>h</h2>
			<h5>Time Asleep</h5>
		</div>
	</div>
	<div class="col-md-2 col-xs-4">
		<div class="thumbnail" style="background-color: #a8dcff">
			<h2 style="text-align: center;"><%= ((@data.min_asleep.to_f / @data.min_in_bed.to_f) * 100).round(2) %>%</h2>
			<h5>Sleep Efficiency</h5>
		</div>
	</div>
	<div class="col-md-2 col-xs-4">
		<div class="thumbnail" style="background-color: #a8dcff">
			<h2 style="text-align: center;"><%= @data.min_awake %>min</h2>
			<h5>Time Awake</h5>
		</div>
	</div>
</div>
<hr>

<script>
	var newSeries = [
			{ "values": <%=raw @data.data_heart %> },
			{ "values": <%=raw @data.data_accel %> },
			{ "values": <%=raw @data.data_stages %> },
			{ "values": <%=raw @data.data_mov_average %> },
			{ "values": <%=raw @data.data_fixed_average %> },
			{ "values": <%=raw @data.data_moving_volatility %> }
	]
</script>
<% else %>
<h1 style="text-align: center;">No Data Available</h1>
<% end %>