<div class="container-fluid">
	<h1><%= @user.name %></h1>
	<%= link_to 'Log Out', "/logout/#{@user.id}", method: :post %> |
	<%= link_to 'Delete My Account', user_path(@user), method: :delete, confirm: 'This will delete all of your account information from our database.' %>

		<div class="date-picker row" style="max-width: 800px; margin: auto">
			<div class="col-md-4 col-sm-4">
				<%= params[:date] ? link_to('Yesterday', user_path(@user, date: params[:date].to_date - 1), class: 'btn btn-default center-block') : link_to('Yesterday', user_path(@user, date: Date.today - 1), class: 'btn btn-default center-block') %>
			</div>
			<div class="col-md-4 col-sm-4">
				<%= form_tag(user_path(@user), method: 'get', enforce_utf8: false) do %>
					<div class="input-group">
						<%= date_field_tag :date, params[:date], class: 'form-control' %>
						<span class="input-group-btn">
							<%= submit_tag "Go", name: nil, class: 'btn btn-default' %>
						</span>
					</div>
				<% end %>
				<h3 class="center-block" style="text-align: center;"><%= params[:date] ? params[:date].to_date.strftime('%A %B %-d'): 'Select a date' %></h3>

				<h6 style="text-align: center;">(the day you woke up on)</h6>
				<h5 style="text-align: center;"><%= link_to 'Today', user_path(@user, date: Date.today) %></h5>
			</div>
			<div class="col-md-4 col-sm-4"><%= params[:date] ? link_to('Tomorrow', user_path(@user, date: params[:date].to_date + 1), class: 'btn btn-default center-block') : link_to('Tomorrow', user_path(@user, date: Date.today + 1), class: 'btn btn-default center-block')  %></div>
		</div>

		<br />
		<br />



		<div id="chart">
			<div id="loader" style="width:50px;margin:auto"><div class="spinner"></div></div>
			<script id="oldSeries">
				var series = []
			</script>
		</div>

		<div id="chartDiv"></div>
</div>

	<script>
		$( document ).ready(function() {
				console.log( "ready!" );
				var ajax = $.ajax({
						url: "/users/chart",
						data: {id: '<%= @user.id %>', date: '<%= params[:date] %>'},
						cache: true,
						success: function (html) {
							console.log( "success" );
						},
						error: function () {
							console.log( "error" );
						},
						complete: function (html) {
							console.log( "complete" );
							$("#loader").remove();
						}
				});
		});
		$( document ).ajaxComplete(function( event, xhr, settings ) {
			console.log(xhr.responseText);
			$("#chart").append(xhr.responseText);
			zingchart.exec('chartDiv', 'appendseriesdata', { data: newSeries })
		});

		var chartData={
			"type": "line",
			"scale-y":{
				values:"0:120:10"
			},
			"plotarea":{
				"background-color":"#fff"
			},
			"series": series
		};

		window.onload=function(){
			zingchart.render({
				id:'chartDiv',
				height:500,
				width:"100%",
				data:chartData
			});
		};

	</script>